<template>
  <h2 id="versions">
    Seleccionar y leer de un puerto serie
  </h2>
  <button @click="loadSerialPort">
    Refescar lista de puertos disponibles
  </button>
  <ul>
    <li
      v-for="(port, index) in ports"
      :key="index"
      class="option"
      :class="{ selected: portConected.path == port.path }"
      @click="read(port)"
    >
      {{ port.path }} ({{ port.manufacturer }}) <span v-show="portConected.path == port.path">(CONECTADO)</span>
    </li>
  </ul>
  <div v-show="portConected.path">
    <h5>Conectado.</h5>
    <button @click="close">
      Desconectar
    </button>
    <p
      v-for="(text, index) in serialData"
      :key="index"
    >
      {{ index + 1 }} - {{ text }}
    </p>
  </div>
</template>

<script >
const { ipcRenderer } = require("electron")
export default {
  name: "App",
  data() {
    return {
      ports: [],
      portConected: { path: null },
      serialData: [],
      interval: null,
    }
  },
  computed: {
    // serialDecode() {
    //   return this.serialData.map((e) => new TextDecoder().decode(e))
    // },
  },
  methods: {
    read(port) {
      if (!this.interval) {
        this.portConected = port
        this.interval = setInterval(() => {
          this.connectSerialPort(this.portConected)
        }, 1000)
      }
    },
    close() {
      if (this.interval) {
        this.closeSerialPort()
        this.portConected = { path: null }
        clearInterval(this.interval)
        this.serialData = []
        this.interval = null
      }
    },
    loadSerialPort() {
      ipcRenderer.invoke("serial.list")
        .then((response) => {
          this.ports = response
        })
    },
    connectSerialPort(port) {
      ipcRenderer.invoke("serial.read", { port: port.path })
        .then((response) => {
          this.serialData = response
        })
    },
    closeSerialPort() {
      ipcRenderer.invoke("serial.close")
        .then((response) => {
          console.log(response)
        })
    },
  },
}
</script>

<style scoped>
.selected {
  color: green;
}
.option {
  padding: .5rem;
  font-size: 1.2rem;
}
.option:hover {
  cursor: pointer;
  font-weight: 600;
}
</style>
